datasets/resources/
datasets/__pycache__/
models/dino/ops/modules/__pycache__/
util/__pycache__/
models/__pycache__/
logs/
models/dino/__pycache__/
wandb/
models/dino/ops/functions/__pycache__/
datasets/synthetic_images_*/
__pycache__/*
__MACOSX/
datasets/clean_code.ipynb
datasets/synthetic_HWDB/
scripts/reconstruction/

stats_dect/
datasets/clean_code.ipynb
reconstruction/__pycache__/
reco_image.png
reconstructor.pth
figure/*
figure_unfrozen/*
first_results.jpg.png
reconstructor.pth
reconstructor_unfrozen.pth
model_unfrozen.pth
figure_*/
*.png
*.pth
logs_reconstruction/

ComingSoon-Regular.ttf
*.jpg
datasets/config.json
.vscode/
dataset_creation.ipynb
export_dataset/
results/
results_ICDAR_module_4_finetune/
finetune_btb/
ICDAR_module_4_2_withoutAR/
ICDAR_module_4_finetune_withoutAR/*
inference_modulo/*
random_modulo_2/*
result_blending/*
IWCP_32x32/
matenia_these/*